.container {
  width: 90%;
  margin: auto;
}
button {
  outline: 0;
  border: 0;
}
.home {
  padding: 5px 7px;
  border-radius: 100%;
  color: #fff;
  background-color: #047bd5;
}
.flex {
  margin: 2rem 0;
  display: flex;
}
.right {
  margin-left: 1.5rem;
}
h2 {
  font-size: 18px;
}
img {
  width: 250px;
  height: 250px;
}
.price {
  font-size: 25px;
}
.button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  font-size: 20px;
  background-color: #fff;
  padding-top: 1rem;
}
.button button {
  padding: 10px 25px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 15px;
  color: #fff;
}
.delete {
  background-color: rgb(243, 61, 61);
  color: #fff;
  padding: 8px 15px;
  font-size: 18px;
}
.card-title {
  font-size: 30px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center img {
  width: 200px;
  height: 200px;
}
h4 {
  margin-top: 2rem;
  font-size: 20px;
  font-weight: bold;
}
h6 {
  font-size: 15px;
}
.btn {
  background-color: #047bd5;
  color: #fff;
  padding: 8px 15px;
  border: 0;
  outline: 0;
  font-size: 20px;
  margin: 1.5rem 0;
}
